<h2 mat-dialog-title>{{ data.isPassword ? 'Enter Password' : 'Edit Description' }}</h2>
<mat-dialog-content>
  <lib-hlt-text-area
    *ngIf="!data.isPassword"
    label="Item Description"
    [required]="false"
    [initialValue]="newDescription"
    (TextAreaValue)="onDescriptionChange($event)"
  ></lib-hlt-text-area>
  <mat-form-field *ngIf="data.isPassword" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="newDescription" required>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onOkay()" [disabled]="data.isPassword && !newDescription">Okay</button>
</mat-dialog-actions>