.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.main-content-wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  height: 100%;
}

.menu-items-list-wrapper {
  flex-grow: 1;
  transition: flex-basis 0.5s ease-in-out;
  min-width: 300px;

  app-hlt-table {
    padding: 0 0.5rem;
  }
}

.main-content-wrapper.panel-open .menu-items-list-wrapper {
  flex-basis: 65%;
  flex-grow: 0;
  flex-shrink: 1;
}

.menu-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
  height: 70px;

  .menu-items-heading {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40;
  }

  .search-filter {
    display: flex;
    gap: 1rem;
    align-items: center;

    .search-input {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
      width: 200px;
      font-size: 0.9rem;
    }

    .filter-btn {
      padding: 0.5rem 1rem;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      mat-icon {
        font-size: 1.2rem;
        height: 1.2rem;
        width: 1.2rem;
      }
    }

    .add-button {
      padding: 0.5rem 1rem;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
      font-size: 0.9rem;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

.item-count {
  font-weight: normal;
  color: #666;
}

.filter-dropdown {
  padding: 0.5rem;
  border: 1px solid #e9ecef;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  color: #495057;
  background-color: #fff;
  cursor: pointer;
}

.add-edit-panel {
  flex-basis: 0;
  width: 35%;
  max-width: 0;
  background-color: #fff;
  border-left: 1px solid #dee2e6;
  transition: transform 0.3s ease-in-out, max-width 0.3s ease-in-out;
  transform: translateX(100%); /* Start off-screen to the right */
  display: flex;
  flex-direction: column;
}

.main-content-wrapper.panel-open .add-edit-panel {
  flex-basis: 35%;
  max-width: 35%;
  transform: translateX(0); /* Slide in to visible position */
}