.table-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.navbars {
  padding: 0 1rem;
  height: 10%;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
}

.courses-nav-button {
  display: flex;
  gap: 1em;
  width: fit-content;
  height: fit-content;
  .btn {
    background: #000;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
    &:hover {
      background: #333;
    }
  }
}

.search-main {
  margin: 0;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
}

.search-box {
  display: flex;
  align-items: center;
  height: 40px;
  background: #f3f4f6;
  border-radius: 9999px;
  transition: background 0.4s ease;
  border: 1px solid #e5e7eb;
}

.search-input {
  background: transparent;
  color: #374151;
  outline: none;
  border: none;
  width: 0;
  font-size: 14px;
  transition: width 0.7s ease;
  font-family: sans-serif;
  padding-left: 1rem;
  &:focus {
    width: 200px;
  }
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: transparent;
  padding: 0.5rem;
  border-radius: 50%;
  color: #374151;
  transition: background 0.4s ease, color 0.4s ease;
  &:hover {
    background: #e5e7eb;
    color: #374151;
  }
}

.search-btn mat-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: 18px;
}

.table-content-wrapper {
  flex: 1;
  overflow-y: auto;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: none;
}

th {
  background-color: #fff;
  border-bottom: 1px solid #e5e7eb;
  padding: 0.75rem;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 1;
  font-size: 0.875rem;
  color: #374151;
  font-weight: 600;
}

td {
  font-size: 0.875rem;
  border-bottom: 1px solid #e5e7eb;
  color: #374151;
  display: table-cell;
}

tr:last-child td {
  border-bottom: none;
}

.paginator-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.55rem;
  border-top: 1px solid #e5e7eb;
  position: sticky;
  bottom: 0;
  background-color: #fff;
  z-index: 2;
  height: 70px;
}

.total-items {
  background: #f3f4f6;
  padding: 0.5rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  color: #374151;
}

.custom-paginator {
  .mat-paginator-range-label {
    margin: 0 1rem;
  }
}

.action-cell {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: inherit;
  .action-btn {
    opacity: 1;
    min-width: 30px;
    height: 30px;
    mat-icon {
      font-size: 16px;
    }
  }
}

.table-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.category-badge {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  color: rgba(31, 41, 55, 1);
  font-size: 10px;
  background-color: rgba(243, 244, 246, 1);
}

.status-badge {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  color: rgba(31, 41, 55, 1);
  font-size: 0.75rem;
  &.active {
    background-color: #10b981;
  }
  &.out-of-stock {
    background-color: #ef4444;
  }
}

.table-content-wrapper::-webkit-scrollbar {
  width: 8px;
}

.table-content-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table-content-wrapper::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 4px;
}