.navbar {
  padding: 10px 2em;
  height: 10%;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #f8f9fa; 
  width: 100%;
}

.courses-nav-button {
  display: flex;
  gap: 1em;
  .btn {
    background: linear-gradient(24deg, #FA882B 0%, #F6882A 82%);
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    font-size: .6rem;
  }
}

.search-main {
  margin: 0;
  box-sizing: border-box;
}

.search-box {
  display: flex;
  align-items: center;
  height: 40px;
  background: #f8f9fa;
  border-radius: 60px;
  transition: background 0.4s ease;
  border: 1px solid #ccc;
}

.search-input {
  background: transparent;
  color: #333;
  outline: none;
  border: none;
  width: 0;
  font-size: 14px;
  transition: width 0.7s ease;
  font-family: sans-serif;
  text-align: center;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: transparent;
  padding: 12px;
  border-radius: 50%;
  color: #FA882B;
  transition: background 0.4s ease, color 0.4s ease;
}

.search-box:hover .search-input,
.search-input:focus {
  width: 200px;
}

.search-box:hover .search-btn,
.search-input:focus + .search-btn {
  background: #FA882B;
  color: #fff;
}

.search-btn mat-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: 18px;
}
.container {
  padding: 20px;
  width: 100%;
  height: 90%;
}

.card-grid {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card {
  width: 100px;
  height: 120px;
  text-align: center;
}

.card-image {
  width: 100%;
  height: 80%;
  object-fit: fill;
  border-radius: 8px;
}

.card-button {
  width: 100%;
  height: 20%;
  background-color: #0f1929;
  color: #eed4ab;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
