// src/app/auth/components/approval-pending/approval-pending.component.scss

.approval-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
  
    h2 {
      color: #ff9800;
    }
  }
  