.mat-form-field-infix {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  
  input[type="file"].mat-input-element {
    width: 100%;
    height: 2.5em; /* Adjust as needed */
    border: none;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    color: rgba(0, 0, 0, 0.87); 
  }

  .dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
  
  
  .w-100 {
    width: 100%;
  }
  