.card {
  border-radius: 12px;
}

.card-title {
  font-size: 16px;
  display: flex;
  align-items: center;
}

label {
  font-weight: 500;
  font-size: 14px;
}

input, select {
  font-size: 14px;
  padding: 8px 12px;
}

button {
  border-radius: 8px;
}

.form-check-input {
  width: 50px;
  height: 24px;
}

.mat-check-icon-sucess {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #166534;
}

.mat-check-icon-wrong {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #991b1b;
}

.lable-sucess {
        background: #dcfce7;
        border-radius: 10px;
        padding: 0px .5rem;
}

.lable-wrong {
        background:#fee2e2;
        border-radius: 10px;
        padding: 0px .5rem;
}