.menu-management-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
    padding: .5rem;
}

.table-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
   overflow-x: auto;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.menu-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .7rem;
  border-bottom: 1px solid #dee2e6;

  .menu-items-heading {
    font-size: 1rem;
    font-weight: bold;
    color: #343a40;
  }

  .search-filter {
    display: flex;
    gap: 1rem;
    align-items: center;

    .search-input {
      padding: .3rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 250px;
    font-size: 0.7rem;
    }

    .filter-btn {
     padding: 0.3rem .7rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 0.5rem;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
      mat-icon {
        font-size: 1.2rem;
        height: 1.2rem;
        width: 1.2rem;
      }
    }
  }
}