//nav bar styles
    .layout-container {
        display: flex;
        transition: all 0.4s ease-in-out;
      }
      
      .main-content {
        flex-grow: 1;
        transition: margin-left 0.4s ease-in-out;
        height: 100vh;
        overflow: hidden;
      }
      
      