<div class="orders-list">
      <div class="top-bar">
        <div class="Orders">
          <p class="m-0">Orders</p>
        </div>  
        <div class="search-section">
          <input type="text" class="form-control" placeholder="Search orders...">
          <button class="btn btn-primary filter-btn d-flex">
            <mat-icon>filter_alt</mat-icon> Filter
          </button>
        </div>
      </div>
      <div class="grid-container">
        <div class="order-card" *ngFor="let deliveryPartner of deliveryPartners">
          <div class="order-details-left">
            <div class="order-header">
              <span class="order-status-badge" style="background-color: green;">Online</span>
              <span class="order-number" style="display: flex;"><mat-icon class="d-flex align-items-center" style="font-size: 15px;">person</mat-icon>{{deliveryPartner.fullName}}</span>
            </div>
            <div class="item-list">
              <div class="item-row">
                <mat-icon class="d-flex align-items-center" style="font-size: 15px;">email</mat-icon>
                <span class="item-quantity">Email</span>
                <span class="item-name">{{deliveryPartner.email}}</span>
              </div>
              <div class="item-row">
                <mat-icon class="d-flex align-items-center" style="font-size: 15px;">phone</mat-icon>
                <span class="item-quantity">Mobile Number</span>
                <span class="item-name">{{deliveryPartner.primaryContact}}</span>
              </div>
            </div>
          </div>
          <div class="action-buttons">
            <ng-container>
              <button type="button" class="btn btn-outline-dark btn-sm">View Reports</button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>