/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


::ng-deep .mat-dialog-container.right-side-dialog {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    margin: 0 !important;
    border-radius: 0 !important;
    max-height: 100vh;
    height: 100vh;
    padding: 0 !important;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .confirm-dialog-container {
  overflow: hidden; /* Important for the shake effect to not cause scrollbars */
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake-animation {
  animation: shake 0.3s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

*::-webkit-scrollbar {
  width: 0px !important;
  background-color: white !important;
}

*::-webkit-scrollbar-thumb {
  width: 0px !important;
  background-color: whitesmoke !important;
  border-radius: 0px !important;
}

*::-webkit-scrollbar:horizontal {
  width: 0px !important;
  background-color: white !important;
}

*::-webkit-scrollbar-thumb:horizontal {
  width: 0px !important;
  background-color: whitesmoke !important;
  border-radius: 0px;
}

/* custom dialog animation */
.cdk-overlay-pane.my-dialog {
  animation: dialogFadeScale 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
@keyframes dialogFadeScale {
  from { opacity: 0; transform: scale(0.9); }
  to   { opacity: 1; transform: scale(1); }
}