/* restaurant table styles */

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 800px;
}

.table-label {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  color: #333;
  padding: 5px 0px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 10px;
  position: relative; 

  mat-icon {
    margin-left: 4px;
    font-size: 18px;
    height: 19px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 50%;
    transform: translateX(-50%) rotate(45deg); 
    width: 12px;
    height: 12px;
    background-color: #f8f8f8; 
    border-bottom-left-radius: 50%; 
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); 
  }
}

.table-capacity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-available {
  color: green;
}

.status-booked {
  color: red;
}

.status-kot-process {
  color: orange; /* Example color */
}

.status-items-on-table {
  color: blue; /* Example color */
}

.status-new-kot {
  color: purple; /* Example color */
}

.status-unknown {
  color: grey;
}

.table-square {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(20deg) rotateX(40deg);
  cursor: pointer;
}

.table-surface {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  border-radius: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dotted #808080;
}

.table-number {
  color: white;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 5px 10px;
}

/*restaurant table styles end */